.contenedor-post {
    height: 80vh;
    margin: 2% 5% 2% 2%;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);


    display: flex;
    flex-direction: column;
}

.imagen-portada {
    width: 50vh;
    object-fit: cover;
    border-radius: 30px;
}

.contenedor-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.texto-intro {
    line-height: 1.7rem;
    overflow-y: auto;
    padding: 5%;
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
    color: var(--main-color);
    text-align: justify;

    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-ver-mas {
    cursor: pointer;
    padding: 1rem 2rem;
    background-color: var(--secund-color);
    color: var(--ligth-color);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
}

.boton-ver-mas:hover {
    background-color: var(--main-color);
}