.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7rem;
    padding-top: 1rem;
    padding-bottom: 0.1rem;
    background-color: var(--ligth-color);
    box-shadow: 0 4px 10px rgb(19, 19, 51);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.bpmco,
.community {
    cursor: pointer;
}